*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgba(179, 207, 207, 0.615);
  font-size: 22px;
  color: brown;
}

.App {
  text-align: center;
}
 
.App-link , a{
  color: rgb(56, 83, 83) ;
  text-decoration: none;
  display: flex;
}
 
